<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo - Client Administration</title>

    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/halo.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<h2 class="text-center center top-10">Sign in to your merchandise portal</h2>

<div class="login-div center">
    <div id="login-error" class="alert alert-danger not-visible" role="alert">
        <strong>Login failed</strong>
        <p>Unrecognized username or password</p>
    </div>
    <div class="login-wrapper">
        <div class="login-inner">
            <form name="login-form" data-bind="submit: submitLogin">
                <span>Username</span>
                <input id="username-field" name="username" type="text" data-bind="text: username" placeholder="Enter your username" class="form-control form-inner">
                <span>Password</span>
                <input id="password-field" name="password" type="password" data-bind="text: password" placeholder="Enter your password" class="form-control form-inner">
                <br>
                <input id="login-submit-button" name="submit" type="submit" value="Log in" class="btn btn-success block-center">
            </form>
        </div>
    </div>
    <a id="forgot-password" class="pull-right" href="#">Forgot your password?</a>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/viewmodels/login.js"></script>
<script src="/js/clientAdministration/login.js"></script>
</body>
</html>