<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/halo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="white">

    <input type="image" src="img/showOptions.png" class="fadeIn showOptions scrolling" id="showOptions">

    <div class="fadeIn imageStage">
      <img class="productImage" src="img/sampleCasket.png">
    </div>

    <div class="fadeIn productWrapper scrolling">
      <h3 class="productInfo productName" id="productName">Product Name</h3>
      <h3 class="productInfo">|</h3>
      <h3 class="productInfo productPrice" id="productPrice">$1999</h3>
      <input type="image" class="productInfo productCheck" id="productCheck" src="img/check.png">
    </div>

    <div class="optionsStageDiv fadeIn">
      <div class="optionsStage">
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/productView.js"></script>
  </body>
</html>