<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/halo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 class="stepTitle" id="stepTitle">Step Title</h1>

    <input class = "homeButton" type="image" src="img/home.png">

    <div class="stepWrapper">
      <hr class="stepLine">
      <div class="stepCol">
        <button class="stepButton" id="casketsButton" highlight>1</button>
        <h2 class="stepLabel" id="casketsLabel">Caskets</h2>
      </div>
      <div class="stepCol">
        <button class="stepButton" id="vaultsButton">2</button>
        <h2 class="stepLabel" id="vaultsLabel">Vaults</h2>
      </div>
      <div class="stepCol">
        <button class="stepButton" id="flowersButton">3</button>
        <h2 class="stepLabel" id="flowersLabel">Flowers</h2>
      </div>
      <div class="stepCol">
        <button class="stepButton" id="keepsakesButton">4</button>
        <h2 class="stepLabel" id="keepsakesLabel">Keepsakes</h2>
      </div>
    </div>

    <button class="btn continueButton" id="continue">Continue</button>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stepScreen.js"></script>
  </body>
</html>