<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/halo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 class="stepTitle" id="stepTitle"></h1>

    <input class = "homeButton" type="image" src="img/home.png">

    <h2 class="stepDescription" id="stepDescription"></h2>

    <div class="stepWrapper" data-bind="foreach: steps">
      <!-- ko if: $index() == 0 -->
      <hr class="stepLine">
      <!-- /ko -->
      <div class="stepCol">
        <button class="stepButton" highlight data-bind="text: stepOrder"></button>
        <h2 class="stepLabel" data-bind="text: stepName"></h2>
      </div>
    </div>

    <button class="btn continueButton" id="continue">Continue</button>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/knockout-3.1.0.js"></script>
    <script src="js/linq.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stepScreen.js"></script>
  </body>
</html>