body {
    background-color: #FFFFFF;
    height: 100%;

    color: #000000;
    text-align: left;
}

a {
    padding-top: 12px;
}

input {
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type="button"] {
    color: white;
    background-color: #444444;
    border-radius: 8px;
}

input[type="button"]:hover {
    color: #f0ad4e;
}

hr {
    border-color: #999999;
    opacity: 0.5;
    width: 90%;
    margin-bottom: 0;
}

.main {
    position: absolute;
    top: 50px;
}

.navbar {
    background-color: #999999;
}

.navbar .halo-brand {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.not-displayed {
    display: none;
}

.not-visible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.top-10 {
    top: 10%;
}

.block-center {
    display: block;
    margin: auto;
}

.center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.box-shadow-overlay {
    border-radius: 10px;
    -moz-box-shadow: 0 0 20px 10px #b4b4b4;
    -webkit-box-shadow: 0 0 20px 10px #b4b4b4;
    box-shadow: 0 0 20px 10px #b4b4b4;
    background-color: #ececec;

    margin: auto;
}

/* Login and Registration */

.login-wrapper {
    top: 20%;
    width: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.login-inner {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    margin: auto;
}

/* Setup Wizard */

.wizard-steps-div {
    min-width: 300px;
}

.wizard-steps-wrapper {
    padding-top: 5%;
    width: 80%;
    margin: auto;
}

.wizard-step {
    width: 20%;
    display: inline-block;
    min-width: 200px;
}

.wizard-step-circle {
    background-color: #00AA00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}

.wizard-step-text {
    display: inline-block;
    line-height: 20px;
    color: #FFFFFF;
    vertical-align: middle;
}

.wizard-step-button {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

/* Setup Pages */

.step-header {
    left: 30px;
    top: 20px;
    min-width: 330px;
    position: absolute;
}

.step-circle {
    background-color: #00AA00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}

.step-text {
    display: inline-block;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
}

.step-header h3 {
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    font-weight: bolder;
}

/* Company Info */

.company-information-panel {
    top: 200px;
    left: 50px;
    width: 35%;
    min-width: 250px;
    max-width: 450px;
    position: absolute;
}

.header h3 {
    color: #888888;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.inner p {
    padding-bottom: 5px;
}

.inner label {
    font-size: 13px;
    display: block;
    text-align: left;
    padding-left: 5px;
}

.company-information-panel .inner {
    padding-top: 20px;
    width: 90%;
    margin: auto;
}

.company-message-panel {
    top: 200px;
    right: 0px;
}