<div class="halo-progress-bar">
    <div class="halo-progress-bar-pusher"></div>
    <div class="step">
        <div class="step-dot"></div>
        <label class="step-text">Step 1</label>
    </div>
    <div class="bar"></div>
    <div class="step">
        <div class="step-dot"></div>
        <label class="step-text">Step 2</label>
    </div>
    <div class="bar"></div>
    <div class="step">
        <div class="step-dot"></div>
        <label class="step-text">Step 3</label>
    </div>
</div>