<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo</title>

    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/halo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="white">

<div class="reviewPanel fadeIn" data-bind="foreach: products">
    <!-- ko if: $index() == 0 -->
    <h2 class="reviewHeader">Review Your Selections</h2>
    <!-- /ko -->

    <hr class="reviewSeparator">
    <div class="reviewItemList">
        <h4 class="reviewItem" data-bind="text: name"></h4>
        <h4 class="reviewItemPrice" data-bind="text: '$' + price"></h4>
    </div>
    <hr class="reviewSeparator">

    <!-- ko if: $index() == 0 -->
    <div class="reviewItemList">
        <h4 class="reviewTotal">Total</h4>
        <h4 class="reviewItemPrice" id="totalPriceLabel"></h4>
    </div>
    <button class="btn reviewApproveButton" id="approveButton">Approve</button>
    <!-- /ko -->
</div>

<div class="reviewImageStage fadeIn">
    <img class="reviewImage" src="img/sampleCasket.png">
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/productCatalog/review.js"></script>
</body>
</html>