<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo - Client Administration - Setup</title>

    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/halo.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<% include ../../../views/templates/header.ejs %>
<% include ../../../views/templates/progress.ejs %>

<div class="text-center center main">
    <div class="step-header">
        <div class="step-circle">
            <h2 class="step-text">1</h2>
        </div>
        <h3>Company Info</h3>
    </div>
    <div class="company-panels">
        <div class="company-information-panel box-shadow-overlay">
            <div class="header">
                <h3>ENTER INFORMATION</h3>
            </div>
            <hr>
            <div class="inner">
                <p>
                    <label>Enter Company Name</label>
                    <input class="form-control" id="company-name" data-bind="value: companyName">
                </p>
                <p>
                    <label>Primary Contact Email</label>
                    <input class="form-control" id="contact-email" data-bind="value: email">
                </p>
                <p>
                    <label>Billing Address</label>
                    <input class="form-control" id="billing-address" data-bind="value: billingAddress">
                </p>
                <p>
                    <label>Contact Phone Number</label>
                    <input class="form-control" id="contact-phone-number" data-bind="value: phoneNumber">
                </p>
            </div>
        </div>
        <div class="company-message-panel">
            <div class="box-shadow-overlay">
                <div class="header">
                    <h3>ENTER YOUR WELCOME MESSAGE TO FAMILIES</h3>
                </div>
                <hr>
                <div class="inner">
                    <textarea class="form-control" placeholder="Type your welcome message here..." data-bind="value: welcomeMessage"></textarea>
                </div>
            </div>
            <div>
                <div class="pull-left">
                    <input type="button" class="company-message-panel-rotate left">
                    <input type="button" class="company-message-panel-rotate right">
                    <p><input type="button" class="btn" value="Upload Logo"></p>
                </div>
                <img class="company-message-panel-image" src="/img/image.png">
                <div class="company-finish-button">
                    <input type="button" class="step-finish-button btn btn-lg pull-right" value="Go to Step 2" data-bind="click: submit">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/viewmodels/clientAdministration/setup/companyInfo.js"></script>
<script src="/js/clientAdministration/setup/companyInfo.js"></script>
</body>
</html>