<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo - Client Administration - Setup</title>

    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/halo.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<% include ../../../views/templates/header.ejs %>
<% include ../../../views/templates/progress.ejs %>

<div class="text-center center main">
    <div class="step-header">
        <div class="step-circle">
            <h2 class="step-text">2</h2>
        </div>
        <h3>Add Products</h3>
    </div>
    <div class="catalog-main-panel">
        <h3 class="step-detail-header">Search The Catalog</h3>
        <div class="catalog-category-panel" data-bind="foreach: categories">
            <!-- ko if: $index() == 0 -->
            <input type="button" class="category-selector" data-bind="attr: { value: stepName }, css: { selected: $parent.currentCategoryIndex() == $index(), 'not-selected': $parent.currentCategoryIndex() != $index() }, click: function() { $parent.setCategory($index()) }" />
            <!-- /ko -->
            <!-- ko if: $index() > 0 -->
            <input type="button" class="category-selector" data-bind="attr: { value: stepName }, css: { selected: $parent.currentCategoryIndex() == $index(), 'not-selected': $parent.currentCategoryIndex() != $index() }, click: function() { $parent.setCategory($index()) }" />
            <!-- /ko -->
            <!-- ko if: $index() == ($parent.categories().length - 1) -->
            <input type="button" class="category-selector" data-bind="css: { selected: $parent.currentCategoryIndex() == -1, 'not-selected': $parent.currentCategoryIndex() != -1 }, click: function() { $parent.setCategory(-1) }" value="Upload Product" />
            <!-- /ko -->
        </div>
        <div class="catalog-detail-panel">
            <div class="catalog-detail-panel-header" data-bind="visible: currentCategoryIndex() >= 0">
                <div class="dropdown reseller-select">
                    <button class="btn btn-default dropdown-toggle reseller-select-dropdown" type="button" id="reseller-select" data-toggle="dropdown" data-bind="html: currentReseller().name + ' <span class=&quot;caret&quot;></span>'">
                    </button>
                    <ul class="dropdown-menu reseller-menu" role="menu" aria-labelledby="reseller-select" data-bind="foreach: resellers">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: function() { $parent.setReseller($index()); }"></a></li>
                    </ul>
                </div>
                <div class="reseller-authorization">
                    <input id="reseller-authorization-checkbox" type="checkbox">
                    <span>I am an authorized COMPANY reseller.</span>
                </div>
                <input type="text" id="catalog-search" class="form-control form-inner catalog-search" placeholder="Search by Name or Sku#">
                <input type="button" id="catalog-search-button" class="btn catalog-search-button" value="Go">
            </div>
            <div class="catalog-detail-panel-header" data-bind="visible: currentCategoryIndex() == -1">
                <div class="catalog-detail-product-upload-category">
                    <strong class="inline">Select a Category</strong>
                    <div class="category-checkboxes" data-bind="foreach: categories">
                        <input type="radio" name="category-checkboxes-group" class="category-checkbox" data-bind="attr: { value: stepName }, checked: $parent.uploadCategory" />
                        <label class="category-checkbox-label text-muted" data-bind="text: stepName"></label>
                    </div>
                </div>
            </div>
            <div id="catalog-detail-product-container" class="catalog-detail-product-container" data-bind="visible: currentCategoryIndex() >= 0, template: { name: 'product-template', foreach: products }">
            </div>
            <div class="catalog-detail-product-container" data-bind="visible: currentCategoryIndex() == -1">
                <div class="catalog-detail-product-upload-information">
                    <h4 class="information-header">Product Information</h4>
                    <div class="information-inner">
                        <div class="information-row">
                            <label class="information-product-label">Product Name</label>
                            <input type="text" class="form-control information-product-input" />
                        </div>
                        <div class="information-row">
                            <label class="information-product-label">Display Price $</label>
                            <input type="text" class="form-control information-product-input" />
                        </div>
                    </div>
                </div>
                <div class="catalog-detail-product-information-photo">
                    <div class="information-photo-controls">
                        <input type="button" class="information-photo-rotate left">
                        <input type="button" class="information-photo-rotate right">
                        <p><input type="button" class="btn" value="Upload Logo"></p>
                    </div>
                    <img class="information-photo-image" src="/img/image.png">
                </div>
                <div class="catalog-detail-product-upload-button-container">
                    <input type="button" class="btn" value="Upload Product">
                </div>
            </div>
        </div>
    </div>
    <div class="catalog-finish-div">
        <input type="button" class="step-finish-button btn btn-lg pull-right" value="Go to Step 3">
    </div>
</div>

<script type="text/html" id="product-template">
    <div class="catalog-detail-panel-product">
        <input class="catalog-detail-product-checkbox" type="checkbox" />
        <img class="catalog-detail-product-image" data-bind="attr: { src: imageUrl }" />
        <div class="catalog-detail-product-info-wrapper">
            <p class="text-muted bold" data-bind="text: name"></p>
            <p data-bind="text: 'MSRP $' + price"></p>
        </div>
    </div>
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/lib/masonry.pkgd.min.js"></script>
<script src="/js/viewmodels/clientAdministration/setup/productCatalog.js"></script>
<script src="/js/clientAdministration/setup/productCatalog.js"></script>
</body>
</html>