<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halo - Client Administration - Setup</title>

    <!-- Bootstrap -->
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/halo.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<% include ../../../views/templates/header.ejs %>

<div class="text-center center top-10">
    <h1>Get Started in 4 Easy Steps!</h1>
    <h3>Our wizard will make setting up your catalog easy.</h3>
    <div class="wizard-steps-wrapper">
        <div class="wizard-step">
            <div class="wizard-step-circle">
                <h2 class="wizard-step-text">1</h2>
            </div>
            <h3>Company Info</h3>
        </div>
        <div class="wizard-step">
            <div class="wizard-step-circle">
                <h2 class="wizard-step-text">2</h2>
            </div>
            <h3>Add Products</h3>
        </div>
        <div class="wizard-step">
            <div class="wizard-step-circle">
                <h2 class="wizard-step-text">3</h2>
            </div>
            <h3>Options & Preview</h3>
        </div>
        <div class="wizard-step">
            <div class="wizard-step-circle">
                <h2 class="wizard-step-text">4</h2>
            </div>
            <h3>Dashboard</h3>
        </div>
    </div>
    <input type="button" class="btn wizard-step-button" value="Go to Step 1">
</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/clientAdministration/setup/setupWizard.js"></script>
</body>
</html>